.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	height: 7.5vh;
	position: sticky;
	top: 0;
	background-color: #1a1a1a;
	border-bottom: #333 1px solid;
}

.logoContainer {
	display: flex;
	align-items: center;
}

.logo {
	height: 3rem;
}

.title {
	font-size: 2rem;
	color: #fff;
	margin-left: 0.5rem;
}

.button {
	background-color: #333;
	color: #fff;
	padding: 0.5rem 1rem;
	border: #444 1px solid;
	border-radius: 5px;
	cursor: pointer;
}

.logoutButton {
	background-color: #333;
	color: #fff;
	padding: 0.5rem 1rem 0.5rem 0.5rem;
	border: #444 1px solid;
	border-left: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	cursor: pointer;
}

.user {
	background-color: #333;
	color: #fff;
	padding: 0.5rem 0.5rem 0.5rem 1rem;
	border: #444 1px solid;
	border-top-left-radius: 2rem;
	border-bottom-left-radius: 2rem;
	border-right-style: none;
	cursor: pointer;
}

.user:hover {
	background-color: #444;
}

.logoutButton:hover {
	background-color: #444;
}
