.meta-container {
	padding-left: 40px;
}
.meta-container > * {
	font-size: large;
}

.tag-container {
	list-style: circle;
	padding-left: 40px;
}

.info-container {
	display: flex;
	flex: auto;
	flex-direction: column;
	justify-content: space-between;

}

.image {
	flex: auto;
	border-radius: 1.5rem;
	overflow: auto;
	max-height: 768px;
	object-fit: cover;
}
